@using TicketApplication.Models.Models;
@model Movie

<form method="post" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <input asp-for="ImageUrl" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4">
                <div class="row pb-2">
                    <h2>Update a movie</h2>
                    <hr />
                </div>
                <div asp-validation-summary="All"></div>
                <div class="mb-3 row">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label>Release Year</label>
                    <input asp-for="ReleaseYear" class="form-control" />
                    <span asp-validation-for="ReleaseYear" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label>Description</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label>Duration</label>
                    <input asp-for="Duration" class="form-control" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label>Category</label>
                    <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select">
                        <option disabled selected>Select category</option>
                    </select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label>Ticket price</label>
                    <input asp-for="TicketPrice" class="form-control" />
                    <span asp-validation-for="TicketPrice" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label>Image URL</label>
                    <input type="file" name="file" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Movie" asp-action="Index" class="btn btn-outline-secondary form-control">
                            Back to movie list
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <img class="mt-4" src="@Model.ImageUrl" width="100%"/>
        </div>
    </div>
   

</form>