<div class="container">

    <div class="row d-flex m-5">
        <div class="text-center">
            <h2>Welcome to the admin panel</h2>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Orders</h5>
                    <p class="card-text">Orders</p>
                    <button class="btn btn-success"><a class="nav-link" asp-controller="Order" asp-action="Index">Manage</a></button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Movie Showings</h5>
                    <p class="card-text">Movie showings</p>
                    <button class="btn btn-success"><a class="nav-link" asp-controller="MovieShowing" asp-action="Index">Manage</a></button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Movies</h5>
                    <p class="card-text">Movies</p>
                    <button class="btn btn-success"><a class="nav-link" asp-controller="Movie" asp-action="Index">Manage</a></button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cinema halls</h5>
                    <p class="card-text">Cinema halls</p>
                    <button class="btn btn-success"><a class="nav-link" asp-controller="CinemaHall" asp-action="Index">Manage</a></button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Movie categories</h5>
                    <p class="card-text">Movie categories</p>
                    <button class="btn btn-success"><a class="nav-link" asp-controller="Category" asp-action="Index">Manage</a></button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">Users</p>
                    <a href="#" class="btn btn-success">Manage</a>
                </div>
            </div>
        </div>
    </div>
</div>