@using TicketApplication.Models.Models;
@model CinemaHall


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Delete a cinema hall</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3 row">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" disabled />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label>Capacity</label>
            <input asp-for="Capacity" class="form-control" disabled />
            <span asp-validation-for="Capacity" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-success form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="CinemaHall" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Back to cinema hall list
                </a>
            </div>
        </div>
    </div>

</form>